[submodule "sumocharge/sumoproxy"]
	path = sumocharge/sumoproxy
	url = https://github.com/thisismyrobot/sumo-proxy.git
[submodule "sumocharge/sumopy"]
	path = sumocharge/sumopy
	url = https://github.com/thisismyrobot/sumo-py.git
