<html>
  <head>
    <title>Sumo Docking Station</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io-0.9.16.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <div>
      <button id="enable_controller">Enable Controller</button>
      <button id="disable_controller">Disable Controller</button>
    </div>
    <br />
    <img id="video" src="">
  </body>
</html>